body {
    color: black;
}

h1 {
    color: #82b392;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

.image-box {
	width: 500px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	
}

.image-box img {
	width: 500px;
	display: block;
	margin-right: auto;
	margin-left: auto;

	
}


